<a href="#content" class="sr-only ss-skip">{$lang->ss_skip_to_content}</a>
<nav id="navbar" class="navbar <!--@if($li->navbar_color=='inverse')-->navbar-inverse<!--@else-->navbar-default<!--@end--><!--@if($li->navbar_fixed!='N')--> navbar-fixed-top<!--@else--> navbar-static-top<!--@end-->" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<span class="sr-only">{$lang->ss_toggle_navigation}</span>
			<button type="button" class="navbar-toggle navbar-toggle-left" data-toggle="collapse" data-target="#main-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand<!--@if($li->logo_img)--> navbar-logo-img<!--@end-->" href="<!--@if(!$li->index_url)-->http://www.wincomi.com<!--@else-->{$li->index_url}<!--@end-->">
					<!--@if($li->logo_img)--><img src="{$li->logo_img}" alt="{$li->logo_title}" />
					<!--@else-->
					<!--@if($li->logo_title)-->{$li->logo_title}<!--@else-->Simplestrap<!--@end-->
					<!--@end-->
				</a>
		</div>
		<div class="collapse navbar-collapse navbar-left" id="main-navbar">
			<ul class="navbar-nav nav">
				<block loop="$main_menu->list=>$key1,$val1" cond="$val1['text']">
				<!--@if($val1['link']!="||||")-->
				<li class="<!--@if($val1['list'])-->dropdown <!--@end--><!--@if($val1['selected'])-->active<!--@end-->"|cond="$val1['list'] || $val1['selected']">
					<a href="{$val1['href']}"<!--@if($val1['list'])--> class="dropdown-toggle" data-toggle="dropdown" <!--@end--> target="_blank"|cond="$val1['open_window']=='Y'">
					{@
						$_val1_link = explode('|fa-', $val1['link']);
					}
					<i class="fa fa-{$_val1_link[1]}" aria-hidden="true" cond="$_val1_link[1]"></i> {$_val1_link[0]}
					<!--@if($val1['list'])--> <span class="caret"></span><!--@end--></a>
					<ul cond="$val1['list']" class="dropdown-menu">
						<block loop="$val1['list']=>$key2,$val2" cond="$val2['link']">
						<!--@if(strpos($val2['href'],'dropdown-header')!== false)-->
						<li class="dropdown-header">{$val2['link']}</li>
						<!--@elseif($val2['link']!="----")-->
						<li class="<!--@if($val2['list'])-->dropdown-submenu <!--@end--><!--@if($val2['selected'])-->active<!--@end-->"|cond="$val2['list'] || $val2['selected']">
							<a tabindex="-1" href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">
								{@
									$_val2_link = explode('|fa-', $val2['link']);
								}
								<i class="fa fa-{$_val2_link[1]}" aria-hidden="true" cond="$_val2_link[1]"></i> {$_val2_link[0]}
							</a>
						</li>
						<!--@else-->
						<li class="divider"></li>
						<!--@end-->
						</block>
					</ul>
				</li>
				<!--@else-->
				<li class="divider"></li>
				<!--@end-->
				</block>
			</ul>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="sub-navbar">
			<form class="navbar-form navbar-left" action="{getUrl()}" method="get" cond="$li->navbar_search=='Y2'">
				<input type="hidden" name="vid" value="{$vid}" />
				<input type="hidden" name="mid" value="{$mid}" />
				<input type="hidden" name="act" value="IS" />
				<input type="text" name="is_keyword" value="{$is_keyword}" placeholder="{$lang->ss_enter_to_search}" class="form-control" style="max-width:150px" />
				<button type="submit" class="sr-only btn btn-{$colorset} btn-block"><i class="fa fa-search" aria-hidden="true"></i> {$lang->cmd_search}</button>
			</form>
			<ul class="navbar-nav nav">
				<!-- <li cond="$li->navbar_search!='N' && $li->navbar_search!='Y2'" class="dropdown" id="dropdown-toggle-search">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i><span class="visible-xs-inline-block"> {$lang->cmd_search}</span></a>
					<div class="dropdown-menu dropdown-form" role="search">
						<form action="{getUrl()}" method="get">
							<input type="hidden" name="vid" value="{$vid}" />
							<input type="hidden" name="mid" value="{$mid}" />
							<input type="hidden" name="act" value="IS" />
							<input type="text" name="is_keyword" value="{$is_keyword}" placeholder="{$lang->ss_enter_to_search}" class="form-control" />
							<button type="submit" class="sr-only btn btn-{$colorset} btn-block"><i class="fa fa-search" aria-hidden="true"></i> {$lang->cmd_search}</button>
						</form>
					</div>
				</li> -->
			</ul>
		</div>
	</div>
</nav>
<include target="_carousel.html" cond="$li->slide_use != 'N'" />
<include target="_jumbotron.html" cond="$li->jumbotron!='N' && !in_array('custom_jumbotron',$li->custom)" />
<include target="./custom/custom_jumbotron.html" cond="$li->jumbotron!='N' && in_array('custom_jumbotron',$li->custom)" />
<include target="./custom/custom_top.html" cond="in_array('custom_top',$li->custom)" />

<footer id="footer" class="footer">
	<div class="container">
		{$li->footer_copyright}
		<ul class="footer-list list-inline" cond="$li->footer_bottom_menu=='Y'">
			<li loop="$footer_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
				<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">
					{@
						$_val1_link = explode('|fa-', $val1['link']);
					}
					<i class="fa fa-{$_val1_link[1]}" cond="$_val1_link[1]"></i> {$_val1_link[0]}
				</a>
			</li>
		</ul>
		<ul class="footer-list list-inline">
			<li id="footer-lang"class="dropdown dropup" style="position:relative" cond="$li->footer_lang=='Y'">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe" aria-hidden="true"></i> Language</a>
				<ul class="dropdown-menu" style="min-width:100px">
					<li class="active"><a href="#" onclick="return false">{$lang_supported[$lang_type]}</a></li>
					<!--@foreach($lang_supported as $key => $val)--><!--@if($key!= $lang_type)-->
					<li><a href="#" onclick="doChangeLangType('{$key}');return false;">{$val}</a></li>
					<!--@end--><!--@end-->
	   			</ul>
			</li>
			<li cond="$li->premium != 'Y'"><i>Jonghun Won</i></li>
		</ul>
	</div>
	<div class="footer_bottom" cond="$li->footer_bottom">{$li->footer_bottom}</div>
	<div id="hidden-xs" class="hidden-xs"></div>
</footer>
<include target="./custom/custom_bottom.html" cond="in_array('custom_bottom',$li->custom)" />
<block cond="$li->premium != 'Y'"><!-- Simplestrap v{$li->version} by Wincomi (https://www.wincomi.com) --></block>
